name: Build DSpico DLDI

on:
  push:
    branches: ["develop"]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: ["develop"]
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

jobs:
  dspico_dldi:
    runs-on: ubuntu-latest
    container: skylyrac/blocksds:slim-v1.13.1
    name: Build DSpico DLDI
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: 1
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Run build script
        run: |
          make
      - name: Publish build to GH Actions
        uses: actions/upload-artifact@v4
        with:
          path: DSpico.dldi
          name: DSpico.dldi
